*{
    font-family:  Calibri;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2c3e50;
    color: white;
    padding:5px 100px;
    border-top:  solid red ;
    border-bottom:  solid red ;
    width: 100%;
    position: fixed;
}

header a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    transition: ease.5s;
}

header a:hover{
    color: rgb(75, 29, 29);
    font-size: 22px;
}
.carsour{
    
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, .5);
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    padding:100px;
    
    
}
.carsour span{
    color: red;
}
.carsour a{
    color: white;
    background-color:#2c3e50;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 15px;
    transition: ease.5s;
}
.carsour a:hover{
    transform:scale(1.2);
    background-color:#3b6896;
}
.services{
    padding: 10px 100px;
}
.services h2{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
.services .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.services .card{
    width: 16em;
    margin-bottom: 50px;
    margin-right:  20px;
    box-shadow: 3px 3px 6px 6px #ccc;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.services h3{
    color: red;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.services div{
    font-size: 60px;
    color: #2c3e50;
}
.protofilio{
    background-color: #2c3e50;
    text-align: center;
    color: white;
    padding: 30px 100px;
}

.protofilio h2{
    margin-bottom: 30px;
}
.protofilio .container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.protofilio .card{
    border: solid ;
    border-radius: 10px;
    margin-right: 20px;
    width:22em;
    margin-bottom: 20px;
    background-color: #9ca9b6;
    overflow: hidden;
    height: auto;
    font-weight: bold;
    padding-bottom: 10px;
}
.protofilio div{

    text-align:justify;
}

.protofilio p{
    padding:0px 10px;
    font-size: 18px;
    
}
.protofilio button{
border-radius: 10px;
color: white;
background-color: aqua;
padding: 5px 8px;
border: none;
margin-top: 8px;
margin-bottom: 12px;
margin-left: 12px;
transition: ease 2s;
}
.protofilio button:hover{
    transform:scale(1.2);
    background-color: rgb(5, 49, 49);
}
.protofilio img{
    display: inline-block;
    object-fit: cover;
    width: 100%;
    height: 70%;
}

.notilla{
    padding: 50px 100px;
    width: 100%;
   
    
}
.notilla>div{
    padding: 50px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.not-descr{
    border-radius: 20px;
   
    box-shadow: 3px 3px 6px 6px #ccc;
    width: 25rem;
    padding:10px;
    font-size: 22px;
    text-align: center;
}
.not-descr2{
    border-radius: 20px;
    
    box-shadow: 3px 3px 6px 6px #ccc;
    width: 25rem;
    padding: 10px;
    font-size: 22px;
    text-align: center;
}
.notilla h2{
    color: red;
    margin-bottom: 15px;

}
.not-img{
    width: 25em;
}
.not-img2{
    width: 25em;
   
}

.about{
    
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    align-items: center;

}
.fimg{
    
    margin-right: 20px;
    width: 16em;
    
}

.fimg img{
    width: 16em;
    height: 16em;
    border: solid white;
    border-radius: 50%;
    overflow: hidden;
    transition: ease 2s;
}
.fimg img:hover{
    transform: scale(1.2);
}

.aboutt {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-size: cover;
 
  min-height: 500px;
  align-items: center;
}


  .fimgg img {
    width: 10em;
    height: 10em;
    border: solid white;
    border-radius: 50%;
    overflow: hidden;
    transition: ease 2s;
  }

    .fimgg img:hover {
      transform: scale(1.2);
    }



.contact{
    padding: 20px 100px;
    background: rgb(6,124,168);
    background: linear-gradient(180deg, rgba(6,124,168,1) 8%, rgba(3,172,215,1) 54%, rgba(3,174,217,1) 55%, rgba(0,212,255,1) 80%);
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.icontainer{
    width: 180px;
    height: px;
}
.icontainer p{
    margin-bottom: 50px;
    font-size: 22px;
    font-weight: bold;
    
    
    color: red;
}
.icons-container{
    text-align: left;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 3px 3px 6px 6px #ccc;
    
}
.icons-container span{
    margin-left: 15px;
    font-size: 18px;
}
.cont-icon i{
    font-size: 30px;
color: blue;
margin-top: 10px;
transition: ease 0.5s;
}
.cont-icon i:hover{
    font-size: 35px;
color: blue;
margin-top: 10px;
}
.cont-icon a{
    text-decoration: none;
}
.contactmail{
    
width: 50%;
padding: 0px 15px;

}
.mailusfirstrow{
display: flex;
justify-content: space-between;



    
}
.mailusfirstrow div{
    position: relative;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 10px;
    min-width: 150px;
}
.contactmail p{
    text-align: center;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: bold;
    
    
    color: red;
}
.mailusfirstrow input{
    border: none;
    width: 100%;
    height: 40px;
    background-color: yellow;
    padding: 0px 15px;
    border-radius: 10px;
    
}
.mailusfirstrow input:hover~label,
.mailusfirstrow input:valid~label{
    top: -10%;
}
.mailusfirstrow label{
    position: absolute;
    
    left: 10px;
    color: #b30000;
    transition: ease.5s;
}
.sendbutton{
    text-align: center;
}
.sendbutton button{
    background-color: #b30000;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    transition: ease 2s;
    font-size: 20px;

}
.sendbutton button:hover{
    transform: rotate3d(1, -1, 1, 30deg);
}


.map p{
    font-size: 22px;
    font-weight: bold;
    padding: 40px;
    
    color: red;
}


.contact iframe{
    box-shadow: 3px 3px 6px 6px #ccc;
 
    width: 200px;
    height: 250px;
    border-radius: 15px;
    background-color: white;
}

.up{
    position: fixed;
    bottom: 40px;
    right: 40px;
    color: white;
    background-color: #b30000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

footer{
    padding: 20px;
    color: white;
    text-align: center;
    background-color: #2c3e50;
    font-size: 20px;
    border-bottom: solid red;
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: red;
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #b30000;
}

