

<section class="carsour" id="home" style="background-image: url('{{getModel.mainphoto}}'); ">
  <div class="span3 wow rollIn form">
    <h2>{{getModel.name}}</h2>

    <p style="background-color:rgb(182, 70, 18) ;">Lorem ipsum, dolor sit amet consectetur adipisicing </p>

    <a href="">Register with us a constructor</a><br />
    <a href="">Register with us alearner</a><input class="form-control" value="" placeholder="find your instructor by post code" />
  </div>
</section>
<section class="services" id="services">
  <h2>Services</h2>
  <div class="container">
    <div class="card span3 wow bounceInLeft">
      <div>
        <i class="fa-brands fa-apple"></i>
      </div>
      <h3>PayPal Content</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi hic ab, nam architecto similique id. Voluptatum vel laborum, placeat qui est atque eveniet recusandae illum consequatur id harum libero aliquid!</p>
    </div>
    <div class="card">
      <div>
        <i class="fa-brands fa-apple"></i>
      </div>
      <h3>PayPal Content</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi hic ab, nam architecto similique id. Voluptatum vel laborum, placeat qui est atque eveniet recusandae illum consequatur id harum libero aliquid!</p>
    </div>
    <div class="card span3 wow bounceInRight">
      <div>
        <i class="fa-brands fa-apple"></i>
      </div>
      <h3>PayPal Content</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi hic ab, nam architecto similique id. Voluptatum vel laborum, placeat qui est atque eveniet recusandae illum consequatur id harum libero aliquid!</p>
    </div>
    <div class="card">
      <div>
        <i class="fa-brands fa-apple"></i>
      </div>
      <h3>PayPal Content</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi hic ab, nam architecto similique id. Voluptatum vel laborum, placeat qui est atque eveniet recusandae illum consequatur id harum libero aliquid!</p>
    </div>
    <div class="card">
      <div>
        <i class="fa-brands fa-apple"></i>
      </div>
      <h3>PayPal Content</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi hic ab, nam architecto similique id. Voluptatum vel laborum, placeat qui est atque eveniet recusandae illum consequatur id harum libero aliquid!</p>
    </div>
    <div class="card">
      <div>
        <i class="fa-brands fa-apple"></i>
      </div>
      <h3>PayPal Content</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi hic ab, nam architecto similique id. Voluptatum vel laborum, placeat qui est atque eveniet recusandae illum consequatur id harum libero aliquid!</p>
    </div>
  </div>

</section>
<section class="protofilio" id="protofilio">
  <h2>Protofilio</h2>
  <div class="d-flex flex-wrap justify-content-center">

    @for (item of getBranchesModel; track item) {
    <div>

      <h5>{{item.name}}</h5>
      <div class="card">
        <img [src]="item.mainPhoto" alt="">
        <textarea readonly>{{item.mainPhoto}}</textarea>
        
        <div >
          <a class="btn btn-outline-primary mx-2 mt-2" href="/hbranch/{{item.id}}">see more</a>
        </div>
      </div>
      <div class="d-flex justify-content-between p-3">
        <div class="cont-icon">
          <a href="{{item.twitterUrl}}" target="_blank">
            <i class="fa-brands fa-twitter wow pulse " data-wow-iteration="infinite"></i>
          </a>
        </div>
        <div class="cont-icon">
          <a href="{{item.facebookUrl}}">
            <i class="fa-brands fa-facebook wow pulse " data-wow-iteration="infinite"></i>
          </a>
        </div>
        <div class="cont-icon ">
          <a href="{{item.infoEmail}}" target="_blank">
            <i class="material-icons  wow pulse " data-wow-iteration="infinite">map</i>
          </a>
        </div>
        <div class="cont-icon ">
          <a href="{{item.location}}" target="_blank">
            <i class="material-icons  wow pulse" data-wow-iteration="infinite">mail</i>
          </a>
        </div>
        <div class="cont-icon  ">
          <a href="tel:+{{item.phone}}">
            <i class="material-icons wow pulse " data-wow-iteration="infinite">phone</i>
          </a>
        </div>
        <div class="cont-icon ">
          <a href="{{item.youtubeUrl}}">
            <i style="color: red;" class="fa-brands fa-youtube wow pulse " data-wow-iteration="infinite"></i>
          </a>
        </div>
      </div>
    </div>

    }


  </div>

</section>

<section class="notilla">

  <div>
    <div class="not-descr">
      <h2>Lorem, ipsum dolor.</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate in tempore voluptatibus ut tenetur consequuntur nulla saepe cum praesentium molestiae neque, aspernatur sunt provident corporis fugiat recusandae, dolore nemo. Laudaaspernatur sunt provident corporis fugiat recusandae, dolore nemo. Laudantium!ntium!</p>
    </div>
    <div class="not-img">
      <iframe style="width: 100%;height: 100%;border: none;" src="https://lottie.host/?file=fd1c28f4-be9c-4c8a-9fb6-2bd8d1c38102/BawOv4Rp6u.json"></iframe>
      <img src="" alt="">
    </div>
  </div>
  <div>
    <div class="not-img2">
      <iframe style="width: 100%;height: 100%;border: none;" src="https://lottie.host/?file=fd1c28f4-be9c-4c8a-9fb6-2bd8d1c38102/BawOv4Rp6u.json"></iframe>
      <img src="" alt="">
    </div>
    <div class="not-descr2">
      <h2>Lorem, ipsum dolor.</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate in tempore voluptatibus ut tenetur consequuntur nulla saepe cum praesentium molestiae neque, aspernatur sunt provident corporis fugiat recusandae, dolore nemo. Laudaaspernatur sunt provident corporis fugiat recusandae, dolore nemo. Laudantium!ntium!</p>
    </div>
  </div>


</section>
<section class="about" style="background-image: url('assets/mkstyle/img/carsafter.jpg');">
  <div class="fimg">
    <img src="assets/mkstyle/img/cars.jpg" alt="">
  </div>
  <div class="fimg">
    <img src="assets/mkstyle/img/cars2.jpg" alt="">
  </div>
  <div class="fimg">
    <img src="assets/mkstyle/img/cars3.jpg" alt="">
  </div>
</section>
<section class="notilla">

  <div>
    <div class="not-descr">
      <h2>Lorem, ipsum dolor.</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate in tempore voluptatibus ut tenetur consequuntur nulla saepe cum praesentium molestiae neque, aspernatur sunt provident corporis fugiat recusandae, dolore nemo. Laudaaspernatur sunt provident corporis fugiat recusandae, dolore nemo. Laudantium!ntium!</p>
    </div>
    <div class="not-img">
      <iframe style="width: 100%;height: 100%;border: none;" src="https://lottie.host/?file=fd1c28f4-be9c-4c8a-9fb6-2bd8d1c38102/BawOv4Rp6u.json"></iframe>
      <img src="" alt="">
    </div>
  </div>
  <div>
    <div class="not-img2">
      <iframe style="width: 100%;height: 100%;border: none;" src="https://lottie.host/?file=fd1c28f4-be9c-4c8a-9fb6-2bd8d1c38102/BawOv4Rp6u.json"></iframe>
      <img src="" alt="">
    </div>
    <div class="not-descr2">
      <h2>Lorem, ipsum dolor.</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate in tempore voluptatibus ut tenetur consequuntur nulla saepe cum praesentium molestiae neque, aspernatur sunt provident corporis fugiat recusandae, dolore nemo. Laudaaspernatur sunt provident corporis fugiat recusandae, dolore nemo. Laudantium!ntium!</p>
    </div>
  </div>
</section>


<div class="container">
  <div>
    <div class="card d-flex flex-row justify-content-around">
      <div class="card-img-body">
        <img class="card-img" src="https://picsum.photos/500/230" alt="Card image cap">
      </div>
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.
        </p>
        <a href="#" class="btn btn-outline-primary">Primary</a>
      </div>
    </div>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="https://picsum.photos/400/200" alt="Card image cap">
      </div>
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This card has supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-outline-primary">Primary</a>
      </div>
    </div>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="https://picsum.photos/450/250" alt="Card image cap">
      </div>
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action. This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <a href="#" class="btn btn-outline-primary">Primary</a>
      </div>
    </div>
  </div>
</div>
<section class="contact" id="contact">
  <div class="icontainer">
    <p>👇🏻 Contact us</p>
    <div class="icons-container">

      <div class="cont-icon">
        <a href="https://twitter.com/" target="_blank">
          <i class="fa-brands fa-twitter wow pulse " data-wow-iteration="infinite"></i>
        </a><span>twitter</span>
      </div>
      <div class="cont-icon">
        <a href="">
          <i class="fa-brands fa-facebook wow pulse " data-wow-iteration="infinite"></i>
        </a><span>facebook</span>
      </div>
      <div class="cont-icon ">
        <a href="">
          <i class="material-icons  wow pulse " data-wow-iteration="infinite">mail</i>
        </a><span>e.mail</span>
      </div>
      <div class="cont-icon  ">
        <a href="tel:+447832104151">
          <i class="material-icons wow pulse " data-wow-iteration="infinite">phone</i>
        </a><span>phone</span>
      </div>
      <div class="cont-icon ">
        <a href="">
          <i style="color: red;" class="fa-brands fa-youtube wow pulse " data-wow-iteration="infinite"></i>
        </a><span>youtube</span>
      </div>

    </div>
  </div>
  <div class="contactmail">

    <p>👇🏻 Mail us</p>
    <div class="mailusfirstrow">
      <div>
        <input type="text" required>
        <label for="">Name</label>
      </div>
      <div>
        <input type="text" required>
        <label for="">Phone</label>
      </div>
    </div>
    <div class="mailusfirstrow">
      <div>
        <input type="text" required>
        <label for="">your email</label>
      </div>
      <div>
        <input type="text" required>
        <label for="">address</label>
      </div>
    </div>
    <div class="mailusfirstrow">
      <div>
        <input type="text" required>
        <label for="">
          Massege
        </label>
      </div>
    </div>
    <div class="sendbutton">
      <button>Send</button>
    </div>

  </div>
  <div class="map">
    <p>Visit us 👇🏻</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.6158837679213!2d-1.1325682389019238!3d52.956224288186995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879c15f8ea7a2ad%3A0x5ee6126e97c4164f!2sSneinton%20Dl!5e1!3m2!1sen!2sus!4v1699181229931!5m2!1sen!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>

<!--test-->
<section class="p-3">

  <div class="text-center">
    <div class="row justify-content-center">

      <div class="col-4">


        <div class="fimgg">
          <img src="assets/mkstyle/img/cars.jpg" alt="">
        </div>
      </div>
    </div>
    <h5 class="text-center">james</h5>
    <p style="text-align:center">
      <i class="bi bi-star-fill"></i>
    </p>
    <div class="row justify-content-center">
      <p class="col-4">
        Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa
      </p>
    </div>



  </div>
</section>


<footer>Lorem ipsum dolor sit amet</footer>
<a href="#">
  <div class="up">
    <i class="fa-solid fa-angle-up"></i>
  </div>
</a>



