<section class="container">
  <div class="d-flex justify-content-between">
    <div>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
    </div>

    <div>
      <button class="btn btn-primary" (click)="openAddmodal()" type="button">Add Class</button>

    </div>
  </div>

  <table mat-table [dataSource]="data" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="levelId">
      <th mat-header-cell *matHeaderCellDef> levelId </th>
      <td mat-cell *matCellDef="let element"> {{element.levelId}} </td>
    </ng-container>


    <!-- Weight Column -->
    <ng-container matColumnDef="addedBy">
      <th mat-header-cell *matHeaderCellDef> addedBy </th>
      <td mat-cell *matCellDef="let element"> {{element.addedBy}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="updatedBy">
      <th mat-header-cell *matHeaderCellDef> updatedBy </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedBy}} </td>
    </ng-container>
    <ng-container matColumnDef="addedTime">
      <th mat-header-cell *matHeaderCellDef> addedTime </th>
      <td mat-cell *matCellDef="let element"> {{element.addedTime}} </td>
    </ng-container>
    <ng-container matColumnDef="updateTime">
      <th mat-header-cell *matHeaderCellDef> updateTime </th>
      <td mat-cell *matCellDef="let element"> {{element.updateTime}} </td>
    </ng-container>
    <ng-container matColumnDef="bId">
      <th mat-header-cell *matHeaderCellDef> bId </th>
      <td mat-cell *matCellDef="let element"> {{element.bId}} </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        mmm
        <!--<button class="btn bg-danger" type="button" (click)="onDelete(element.id)">X</button>
        <a class="btn bg-danger" href="/branchImg/{{element.id}}">AddImg</a>
        <a class="btn bg-danger" href="/level/{{element.id}}">AddLevel</a>-->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5,10,15,20]" showFirstLastButton class="bg-primary"></mat-paginator>
  <!--<div *ngFor="let item of appoint">
    {{item.id}}
  </div>
  @for(item of appoint;track item.id){
  <li>{{item.price}}</li>-->


</section>


<section class="add-level-modal" [ngClass]="{'d-block':isAddLevelModalVisible,'d-none': !isAddLevelModalVisible}">
  <div class="card">
    <button type="button" class="btn btn-light" style="position:fixed;top:10px;right:10px" (click)="closeAddmodal()">X</button>

    <app-classg-add></app-classg-add>

    </div>
</section>
