<section>
  <section>
    <div class="d-flex justify-content-between">

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Name:</mat-label>
        <input matInput [value]="getTeacher.fName" disabled />
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Family Name</mat-label>
        <input matInput [value]="getTeacher.lName" disabled />
      </mat-form-field>

    </div>
    <div class="d-flex justify-content-between">

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>User Id</mat-label>
        <input matInput [value]="getTeacher.userId" disabled />
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput [value]="getTeacher.email" disabled/>
      </mat-form-field>
    </div>
  </section>
  <section>
    <h5>Complete Form For :<span style="color:blue">{{getTeacher.fName}} {{getTeacher.lName}}</span></h5>
    <form [formGroup]="teacherUpdToComModel">
   
      <div>
        <label for="title">Title:</label>

        <select id="title" formControlName="title" class="form-select" required>
          <option selected>choose your title</option>

          <option value="Mr">Mr</option>
          <option value="Mrs">Mrs</option>


        </select>
      </div>


      <div>
        <label for="jopDescription">JopDescription:</label>
        <input class="form-control" id="jopDescription" formControlName="jopDescription" type="text" required/>
      </div>
      <div>
        <label for="departmentId">Department:</label>

        <select id="departmentId" formControlName="departmentId" class="form-select" required>
          <option selected></option>
          @for(item of departmentList;track item.id){
          <option [value]="item.id">{{item.name}}</option>
          }
        </select>
      </div>
      <div>
        <label for="addedBy">addedBy:</label>
        <input id="addedBy" formControlName="addedBy" type="text" required />
      </div>


      <!-- File Uploads -->

      <div>
        <label for="tImgF">Load your image:</label>
        <input id="tImgF" type="file" (change)="onFileSelect($event, 'TImgF')" />
      </div>



      <button mat-raised-button color="primary" type="button" (click)="updateTeacherToComp(id)">Submit</button>
    </form>
  </section>

</section>
